/* .react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.react-confirm-alert {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.react-confirm-alert-button-group button {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
} */
